*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
background:#f4f4f4;
}

.sidebar{

width:250px;
height:100vh;

background:#222;

color:white;

padding:20px;

position:fixed;

}

.profile{

width:120px;

height:120px;

border-radius:50%;

display:block;

margin:auto;

}

.sidebar h2,
.sidebar p{

text-align:center;

margin-top:10px;

}

nav{

margin-top:30px;

}

nav a{

display:block;

color:white;

text-decoration:none;

padding:12px;

margin:8px 0;

border-radius:6px;

}

nav a:hover{

background:#444;

}

#themeBtn{

margin-top:30px;

width:100%;

padding:10px;

font-size:20px;

cursor:pointer;

}

.content{

margin-left:270px;

padding:40px;

width:100%;

}

section{

margin-bottom:80px;

}

h1{

margin-bottom:15px;

}

blockquote{

background:white;

padding:15px;

margin:15px 0;

border-left:5px solid #0077cc;

}
